<div class="jumbotron">

    <h1> Onimage Rails </h1>
    <span>Click or drag and drop.</span>

    <div id="actions" class="row">

        <div class="col-lg-12">

            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files</span>
            </span>

            <button type="submit" disabled="disabled" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Upload all</span>
            </button>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <span class="fileupload-process">

                <div id="total-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" class="progress progress-striped active">

                    <div style="width: 0%;" data-dz-uploadprogress="data-dz-uploadprogress" class="progress-bar progress-bar-success"></div>

                </div>

            </span>

        </div>

    </div>

    <div class="row preview-box">

        <div class="col-lg-12">

            <div id="previews" class="table table-striped files">

                <div id="template" class="file-row">

                    <div>
                        <span class="preview"><img data-dz-thumbnail="data-dz-thumbnail"/></span>
                    </div>

                    <div>
                        <p data-dz-name="data-dz-name" class="name"></p><strong data-dz-errormessage="data-dz-errormessage" class="error text-danger"></strong>
                    </div>

                    <div>
                        <p data-dz-size="data-dz-size" class="size"></p>
                        <div role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" class="progress progress-striped active">
                            <div style="width: 0%;" data-dz-uploadprogress="data-dz-uploadprogress" class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary start-single"><i class="glyphicon glyphicon-upload"></i><span>Start</span>
                        </button>
                        <button data-dz-remove="data-dz-remove" class="btn btn-warning cancel"><i class="glyphicon glyphicon ban-circle"></i><span>Cancel</span>
                        </button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>