<images-navbar></images-navbar>
<div  class="wrap">
  <uploader></uploader>
  <div id="img-container" class="img-container">
    <div class="row">
      <images ng-repeat="image in images | filter:search"></images>
    </div>
  </div>
</div>
<images-footer></images-footer>